<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee directory</title>

</head>

<body>

  <header class="border-b fixed w-full">
    <div class="max-w-[1012px] mx-auto" id="header-container"></div>
  </header>

  <main class="h-[calc(100vh-74px)] pt-[74px]">
    <div class="max-w-[1012px] mx-auto">

      <section class="flex">

        <div class="w-full px-6 pb-8" id="content"></div>

      </section>

    </div>
  </main>

</body>

</html>